<div class = "subtitle d-flex justify-content-start">
    <br><h1><%= "Edit " + @task.name %></h1>
</div>
<br>

 <div class="form d-flex justify-content-start">
  <div class="d-flex flex-row">
    <%= form_for(@task) do |f| %>
      <%= f.label :name, class: "content"%><br>
      <%= f.text_field :name, class: "textField" %><br>
      <%= f.label :description, class: "content" %><br>
      <%= f.text_area :description, class: "textArea" %>
    </div>
    <div class = "d-flex flex-row">
        <div><%= f.label "Bucket", class: "rightLabel" %></div><br>
        <div><br><%= f.collection_select :bucket_id, Bucket.order(:name),:id, :name, {}, {class: "bucketField"} %></div>
        <div><%= f.label "Priority", class: "priorityLabel" %></div>
        <div><%= f.collection_select :priority_id, Priority.order(:name),:id, :name, {}, {class: "priorityField"}%><br></div>
        <div class= "checkLabel"><%= f.check_box :status, {}, "Completed", "Pending" %>  Done<br></div>
    </div>
</div>

<div class="d-flex flex-row justify-content-align-center">
      <div>
        <%= f.submit 'Finish', :class => "createTaskButton" %>
        <% end %>
      </div>
      <div>
        <%= button_to "Delete Task", @task, :method => :delete, data: {confim: 'Are you sure?'}, :class => "deleteTaskButton" %>
      </div>
      <div>
        <%=link_to "Cancel", tasks_path, class: "cancelCreateButton" %></div>
    </div>
  </div>
    