<br><br><br>
<div class = "d-flex align-items-center justify-content-center">
    <br><h1><%= "EDIT: " + @task.name %></h1>
</div>
<br>

 <div class="d-flex flex-row row-align-items-start justify-content-center">
    <%= form_for(@task) do |f| %>
        <div class="p-2"><%= f.label :name%><br></div>
        <div class="p-2"><%= f.text_field :name%><br></div>
        <div class="p-2"><%= f.label :description%><br></div>
        <div class="p-2"><%= f.text_area :description%><br></div>
        <div class="p-2"><%= f.label "Bucket"%></div>
        <div class="p-2"><%= f.collection_select :bucket_id, Bucket.order(:name),:id, :name %><br></div>
         <div class="p-2"><%= f.collection_select :priority_id, Priority.order(:name),:id, :name %><br></div>
        <div class="p-2"><%= f.check_box :status, {}, "Completed", "Pending" %> Completed?<br></div>
</div>
<br>
 <div class="d-flex flex-row justify-content-center">
    <div class = "col-1">
      <%= f.submit 'Create Task', :class => 'btn btn-primary' %>
      <% end %>
    </div>
    <div class ="col-1">
      <%= button_to "Delete Task", @task, :method => :delete, data: {confim: 'Are you sure?'}, :class => 'btn btn-primary' %>
    </div>
    <div class = "col-1">
      <%=link_to "Cancel", tasks_path, class: 'btn btn-primary' %>
    </div>
</div>