<br>
<%= link_to "Back", tasks_path, class: "Back btn-primary" %>
<br>

<div class = "taskName d-flex align-items-center justify-content-center">
    <%= @task.name %>
</div> <br>

<p class ="desLabel">Desciption: </p>
<p class = "description"> <%= @task.description %></p><br><br>


<div class="container text-center">
    <div class="row align-items-center justify-content-center">
        <div class="col-4">
            <p class="showLabel">Bucket: </p>
         </div>

         <div class="col-4">
            <p class="showLabel">Priority:</p>
        </div>

         <div class="col-4">
            <p class="showLabel">Status:</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-self-start justify-content-center">
        <div class="col-4">
            <p class = "content"> <%= @task.bucket.name %> </p>
        </div>

        <div class="col-4">
        <p class="content">
            <% if @task.priority_id == 1 %>
                        <%= "Urgent" %>
                <% elsif @task.priority_id == 2 %> 
                        <%= "High" %> 
                 <% elsif @task.priority_id == 3 %>
                        <%= "Normal" %> 
                <% elsif @task.priority_id == 4 %>
                        <%= "Low" %> 
                <% else %>
                      <%= "No Priority" %> 
                <% end %>
        </p>
        </div>

        <div class="col-4">
            <p class = "content"> <%= @task.status %>  </p>
        </div>
    </div>
</div>

<br><br>

<div class = "d-flex align-items-center justify-content-center">
    <%= button_to "Edit Task",  edit_task_path(@task), class: "button btn-primary", method: :get %>
</div>
