<br>
<div class = "subtitle d-flex justify-content-start">
    <%= "EDIT: " + @bucket.name %>
</div>
<br>
<div class="form d-flex justify-content-start">
    <%= form_for(@bucket) do |f| %>
        <%= f.label :name, class: "label"%><br>
        <%= f.text_field :name, class: "textField"%><br>
        <%= f.label :description,  class: "label"%><br>
        <%= f.text_area :description, class: "textArea"%><br>
        <%= f.submit 'Update Bucket', class: "submitButton btn-primary"%><br>
    <% end %>
    <%= button_to "Delete Bucket", @bucket, :method => :delete, class: "deleteButton btn-primary" %><br>
    <%= link_to "Cancel", buckets_path, class: "cancelButton btn-primary" %><br>
</div>
